<article class="content-section">
    <div class="article-metadata">
        <a class="mr-2" href="{% url 'user-posts' post.author.username %}">
            <img class="text-img rounded-circle mr-1" src="{{ post.author.profile.image.url }}">
            {{ post.author }}
        </a>
        <small class="text-muted">{{ post.date_posted|date:"E d, Y" }}</small>
    </div>
    <div class="media">
        <div class="post-img mr-2 p-1 border-right">
            {% if post.to_sell == True %}
                <h5 class="text-center">A Vendre</h5>
            {% else %}
                <h5 class="text-center">A Louer</h5>
            {% endif %}
            <a href="{% url 'post-detail' post.id %}">
                <img class="img-fluid w-100 rounded m-auto" src="{{ post.thumbnail.url }}">
            </a>
        </div>
        <div class="media-body">
            <h2><a class="article-title font-weight-bold" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
            <div class="d-flex justify-content-between mb-2">
                {% include "blog/subtemplates/fav-button.html" %}
                <span class="font-weight-bold">{{ post.price }} €</span>
            </div>
            <p class="article-content">{{ post.content }}</p>
        </div>
    </div>
</article>