{% load static %}
<!DOCTYPE html>
<html>

<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <!-- Bootstrap Icons-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">

    <link rel="stylesheet" type="text/css" href="{% static 'blog/main.css' %}">
    <link rel="icon" type="image/png" sizes="512x512" href="{% static 'blog/Icon.png' %}">

    {% if title %}
    <title>HELBImmo - {{ title }}</title>
    {% else %}
    <title>HELBImmo</title>
    {% endif %}
</head>

<body>
    <header class="site-header">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
            <div class="container">
                <a class="navbar-brand mr-4" href="{% url 'blog-home' %}">HELBImmo</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
                    aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarToggle">
                    <div class="navbar-nav mr-auto">
                        <a class="nav-item nav-link" href="{% url 'blog-about' %}">About</a>
                    </div>
                    <!-- Navbar Right Side -->
                    <form id="searchform" class="d-flex mr-auto" action="{% url 'search-results' %}" method="get">
                        <input type="text" class="form-control rounded-right-0" name="q" placeholder="Search for keywords">
                        <button class="btn btn-info rounded-left-0" form="searchform">
                            <i class="bi bi-search"></i>
                        </button>
                    </form>
                    <div class="navbar-nav">
                        {% if user.is_authenticated %}
                        <a class="nav-item nav-link" href="{% url 'profile' %}">
                            <img class="text-img rounded-circle mr-1" src="{{ user.profile.image.url }}">
                            {{ user.username }}
                        </a>
                        <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
                        {% else %}
                        <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                        <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </nav>
    </header>
    
    <div class="d-flex container">
        <div class="col-md-4">
            <div class="content-section">
                <h3>Our Sidebar</h3>
                <p class='text-muted'>You can put any information here you'd like.
                <ul class="list-group">
                    {% if user.is_authenticated %}
                    <li class="list-group-item list-group-item-light">
                        <a href="{% url 'post-create' %}">New Post</a>
                    </li>
                    <li class="list-group-item list-group-item-light">
                        <a href="{% url 'user-favorites' %}">Your watchlist</a>
                    </li>
                    <li class="list-group-item list-group-item-light">
                        <a href="#">Your Criteria</a>
                    </li>
                    <li class="list-group-item list-group-item-light">
                        <a href="#">Notifications</a>
                    </li>
                    {% endif %}
                    <li class="list-group-item list-group-item-light">Latest Posts</li>
                    <li class="list-group-item list-group-item-light">Announcements</li>
                    <li class="list-group-item list-group-item-light">Calendars</li>
                    <li class="list-group-item list-group-item-light">etc</li>
                </ul>
            </p>
        </div>
    </div>
        <main role="main" class="container flex-grow">
            
            <div class="">
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
                {% block content %}{% endblock %}
            </div>
        </main>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <!--<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="http://www.openlayers.org/api/OpenLayers.js"></script>

    <script>

        $(document).ready(function () {
            $(function () {
                $('[data-toggle="tooltip"]').tooltip()
            })

            $(".fav").click(function () {
                let btn = $(this);
                let postid = $(this).data('postid');
                console.log("fav "+postid+"!");
                $.ajax({
                    url: btn.attr('fav-url'),
                    data: {
                        'postid': postid
                    },
                    success: function (result) {
                        if ( result.added === true ) 
                        {
                            btn.children().first().removeClass("bi-star").addClass("bi-star-fill");
                        }
                        else
                        {
                            btn.children().first().removeClass("bi-star-fill").addClass("bi-star");
                        }
                        btn.children().last().text(result.count);
                    }
                });
            });

            $('.js-get').each(function(compt, elem) 
            {
                let key = elem.getAttribute('data-key');
                let value = elem.getAttribute('data-value');

                if (key != null && value != null)
                {
                    let searchParams = new URLSearchParams(window.location.search);
                    searchParams.set(key, value);

                    elem.setAttribute('href', '?' + searchParams);
                }
            });

            $('#js-map').each(function(compt, elem) 
            {
                map = new OpenLayers.Map(elem.id);
                map.addLayer(new OpenLayers.Layer.OSM());

                //alert(0+" - "+0);

                var lonLat = new OpenLayers.LonLat(  4.3525, 50.8466/*elem.getAttribute('longitude'), elem.getAttribute('latitude') */)
                    .transform(
                        new OpenLayers.Projection("EPSG:4326"), // transform from WGS 1984
                        map.getProjectionObject() // to Spherical Mercator Projection
                    );
                    
                var zoom=16;

                var markers = new OpenLayers.Layer.Markers( "Markers" );
                map.addLayer(markers);
                
                markers.addMarker(new OpenLayers.Marker(lonLat));
                
                map.setCenter(lonLat, zoom);
            });
        });
    </script>
    {% block scripts %}{% endblock %}
</body>

</html>