{% extends "blog/base.html" %}
{% block content %}
<article class="content-section">
    <div class="article-metadata">
        <h3 class="d-flex justify-content-between mb-2">
            <a class="article-title font-weight-bold" href="{% url 'post-detail' post.id %}">
                <span>{{ post.title }}</span>
            </a>
            <i class="bi bi-bar-chart-line"></i>
        </h3>
    </div>
    <div class="d-flex justify-content-between">
        <div class="flex-grow bg-info text-light text-center line-height-large rounded m-1 py-4">
            Views :
            <br>
            {{ consults.count }}
        </div>
        <div class="flex-grow bg-warning text-light text-center line-height-large rounded m-1 py-4">
            Favorites :
            <br>
            {{ favs.count }}
        </div>
    </div>
</article>
<article class="content-section">
    <div class="article-metadata">
        <h3 class="mb-2">
            Vues indiviuelles sur les 30 derniers jours
        </h3>
    </div>
    {% include "blog/subtemplates/bar-graph.html" with graph=indivConsults include_key='true' %}
</article>
<article class="content-section">
    <div class="article-metadata">
        <h3 class="mb-2">
            Vues cumulatives sur les 30 derniers jours
        </h3>
    </div>
    {% include "blog/subtemplates/bar-graph.html" with graph=cumulConsults include_key='true' %}
</article>
<article class="content-section">
    <div class="article-metadata">
        <h3 class="mb-2">
            Favoris indiviuels sur les 30 derniers jours
        </h3>
    </div>
    {% include "blog/subtemplates/bar-graph.html" with graph=indivFavs barColor="warning" include_key='true' %}
</article>
<article class="content-section">
    <div class="article-metadata">
        <h3 class="mb-2">
            Favoris cumulatifs sur les 30 derniers jours
        </h3>
    </div>
    {% include "blog/subtemplates/bar-graph.html" with graph=cumulFavs barColor="warning" include_key='true' %}
</article>
{% endblock content %}