{% extends "blog/base.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.9.0/css/ol.css">
{% endblock %}
{% block content %}
<article class="content-section">
    <input type="hidden" class="js-view" view-url="{% url 'post-consult' %}" data-postid="{{ view.kwargs.pk }}">
    <div class="article-metadata">
        <h3 class="d-flex justify-content-between mb-2">
            <span>{{ object.type_bien }}</span>
            {% if object.to_sell == True %}
            <span class="text-center">A Vendre</span>
            {% else %}
            <span class="text-center">A Louer</span>
            {% endif %}
        </h3>
    </div>
    <img class="img-fluid w-100 rounded mb-2" src="{{ object.thumbnail.url }}">
    <div class="article-metadata">
        <a class="mr-2" href="{% url 'user-posts' post.author.username %}">
            <img class="text-img rounded-circle mr-1" src="{{ post.author.profile.image.url }}">
            {{ post.author }}
        </a>
        <small class="text-muted">{{ post.date_posted|date:"E d, Y" }}</small>
    </div>
    <div>
        <h3 class="mb-2">
            {{ object.title }}
        </h3>
        <div class="d-flex justify-content-between m-1">
            <span>
                {% include "blog/subtemplates/fav-button.html" %}
            </span>
            <span class="font-weight-bold">{{ object.price }} €</span>
        </div>
        {% if object.author == user %}
            <a class="btn btn-sm btn-info" href="{% url 'post-stats' post.id %}"><i class="bi bi-bar-chart-line"></i> Statistics</a>
            <a class="btn btn-sm btn-secondary" href="{% url 'post-update' object.id %}"><i class="bi bi-arrow-repeat"></i> Update</a>
            <a class="btn btn-sm btn-danger" href="{% url 'post-delete' object.id %}"><i class="bi bi-trash"></i> Delete</a>
        {% endif %}
        <input id="id_type_bien" type="hidden" value="{{ object.type_bien }}">
        <ul class="pl-0 my-2">
            <li id="info_addresse" class="d-block">Addresse : {{ object.road_num }}, {{ object.region_city }} {{ object.country_code }}</li>
            <li id="info_rooms" class="d-flex justify-content-between">Nombres de pièces : <span>{{ object.room_amount }}</span></li>
            <li id="info_surface" class="d-flex justify-content-between">Surface vivable : <span>{{ object.livable_surface }} m²</span></li>
            <li id="info_nb_etage" class="d-flex justify-content-between">Nombre d'étages : <span>{{ object.nb_etage }}</span></li>
            <li id="info_situe_etage" class="d-flex justify-content-between">Sité à l'étage : <span>{{ object.situe_etage }}</span></li>
        </ul>
        Description :
        <p class="article-content rounded border p-1">{{ object.content }}</p>
        <div tabindex="1" id="js-map" data-image="{% static 'blog/marker.png' %}" latitude="{{ object.latitude }}" longitude="{{ object.longitude }}" style="height: 30vh;"></div>
    </div>
</article>
{% if user.is_authenticated and user != object.author %}
    <article class="content-section">
        <form id="question_form" method="post">
            {% csrf_token %}
            <h3 class="article-metadata">Une question ? Posez-là ici : </h3>
            <input id="question_form_data" type="hidden" data-url="{% url 'question-new' %}" data-postid="{{ view.kwargs.pk }}">
            <textarea class="d-block resize-0 w-100 mb-2" style="height:5rem"></textarea>
            <div class="text-right">
                <button class="btn btn-info">Poser une question</button>
            </div>
        </form>
    </article>
{% endif %}
<div id="question_zone">
    {% if questions %}
        {% for question in questions %}
            {% include 'blog/subtemplates/question.html' with question=question %}
        {% endfor %}
    {% else %}
        <div id="noQuestions" class="text-center p-2 text-muted">
            Personne n'a posé de questions...
        </div>
    {% endif %}
</div>
{% endblock content %}
{% block scripts %}
<script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.9.0/build/ol.js"></script>
<script>
    $(document).ready(function () {
        let info = $(".js-view").first();
        $.ajax({
            url: info.attr('view-url'),
            data: {
                'postid': info.attr('data-postid')
            },
            success: function (result) 
            {
                console.log(result.good);
            }
        }); 

        let target = document.getElementById("js-map");

        let iconFeature = new ol.Feature({
            geometry: new ol.geom.Point(ol.proj.fromLonLat([target.getAttribute('longitude'),target.getAttribute('latitude')]))
        });

        let iconStyle = new ol.style.Style({
            image: new ol.style.Icon({
                anchor: [0.5, 1],
                anchorXUnits: 'fraction',
                anchorYUnits: 'fraction',
                src: target.getAttribute('data-image'),
            }),
        });

        iconFeature.setStyle(iconStyle);

        let vectorSource = new ol.source.Vector({
            features: [iconFeature],
        });

        let vectorLayer = new ol.layer.Vector({
            source: vectorSource,
        });

        let mapView = new ol.View({
            center: ol.proj.fromLonLat([target.getAttribute('longitude'),target.getAttribute('latitude')]),
            zoom: 16
        });

        var map = new ol.Map({
            target: target,
            layers: [
                new ol.layer.Tile({
                    source: new ol.source.OSM()
                }),
                vectorLayer
            ],
            view: mapView
        });
    });
</script>
<script>
    let idField = '#id_type_bien';
    let changeableFields = ['#info_rooms', '#info_nb_etage', '#info_situe_etage']
    let specificFields = {
        'Garage': [],
        'Appartement': ['#info_rooms', '#info_situe_etage'],
        'Maison': ['#info_rooms', '#info_nb_etage']
    }
</script>
<script src="{% static 'blog/fieldHider.js' %}"></script>
<script>
    function js_open()
    {
        $(this).parent().siblings('.js-confirm').show();
        $(this).closest('.js-initial').hide();
        
    }

    function js_cancel()
    {
        $(this).parent().siblings('.js-initial').show();
        $(this).closest('.js-confirm').hide();
    }

    function del_question()
    {
        let btn = $(this);
        $.ajax({
            url: btn.data('url'),
            success: function (result) 
            {
                btn.closest('.js-question').remove();
            }
        });
    }

    function del_reponse()
    {
        let btn = $(this);
        $.ajax({
            url: btn.data('url'),
            success: function (result) 
            {
                form = document.createElement('div');
                form.innerHTML = result;
                form = $(form);

                btn.closest('.js-reponse').empty().append(form);

                form.find('.js-open').click(js_open);
                form.find('.js-cancel').click(js_cancel);
                form.find('.js-answer').click(post_reponse);
            }
        });
    }

    function post_reponse()
    {
        let btn = $(this)
        $.ajax({
            type: 'POST',
            url: btn.data('url'),
            data: {
                'content': btn.siblings('.js-answer-content').val(),
                csrfmiddlewaretoken: btn.siblings('input[name=csrfmiddlewaretoken]').val(),
                'questionid': btn.data('question')
            },
            success: function(data){
                reponse = document.createElement('div');
                reponse.innerHTML = data;
                reponse = $(reponse);

                reponse.find('.js-open').click(js_open);
                reponse.find('.js-cancel').click(js_cancel);
                reponse.find('.js-del-reponse').click(del_reponse);

                btn.closest('.js-reponse').empty().append(reponse);
            }
        });
    }

    $(document).ready(function () {
        $(".js-del-question").click(del_question);

        $(".js-del-reponse").click(del_reponse);

        $(".js-open").click(js_open);

        $(".js-cancel").click(js_cancel);

        $('.js-answer').click(post_reponse);
    });
</script>
<script>
    $('#question_form').submit(function (e) {
        e.preventDefault();
        let info = $('#question_form_data');
        $.ajax({
            type: 'POST',
            url: info.data('url'),
            data: {
                'question': $('#question_form textarea').val(),
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                'postid': info.data('postid')
            },
            success: function(data){
                question = document.createElement('div');
                question.innerHTML = data;
                question = $(question);

                question.find('.js-open').click(js_open);
                question.find('.js-cancel').click(js_cancel);
                question.find('.js-del-question').click(del_question);
                question.find('.js-del-reponse').click(del_reponse);
                
                $('#question_form textarea').val('');
                $('#question_zone').prepend(question);    
                $('#noQuestions').remove();
            }
        });
    });
</script>
{% endblock scripts %}