{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
    <div class="content-section">
        <form method="POST" enctype='multipart/form-data'>
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Nouvelle annonce</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Publier</button>
            </div>
        </form>
    </div>
{% endblock content %}
{% block scripts %}
    {{ form.media }}
    <script>
        let idField = '#id_type_bien';
        let changeableFields = ['#div_id_room_amount', '#div_id_nb_etage', '#div_id_situe_etage']
        let specificFields = {
            'Garage': [],
            'Appartement': ['#div_id_room_amount', '#div_id_situe_etage'],
            'Maison': ['#div_id_room_amount', '#div_id_nb_etage']
        }
    </script>
    <script src="{% static 'blog/fieldHider.js' %}"></script>
{% endblock %}