{% extends "blog/base.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Supprimez cette annonce ?</legend>
                <h2>Voulez-vous vraiment supprimer cette annonce : "{{ object.title }}"</h2>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-danger" type="submit">Oui, supprimez-moi ça</button>
                <a class="btn btn-outline-secondary" href="{% url 'post-detail' object.id %}">Non, non, attendez</a>
            </div>
        </form>
    </div>
{% endblock content %}