{% extends "blog/base.html" %}
{% block content %}
    <div class="content-section media">
        <img class="rounded-circle account-img" src="{{ author.profile.image.url }}">
        <div class="media-body">
            <h2 class="account-heading">{{ author.username }}</h2>
            <p class="text-secondary">{{ author.email }}</p>
            {% if author == user %}
                <div class="rounded border p-1 m-0">
                    <div class="h5 border-bottom">Vos Critères</div>
                    <div>{{ user.criteria.public }}</div>
                </div>
                <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'profile' %}">Mettre à jour</a>
                <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'criteria' %}">Changer les critères</a>
            {% endif %}
        </div>
    </div>
    <h3 class="mb-3">Posts by {{ view.kwargs.username }} ({{ page_obj.paginator.count }})</h3>
    {% include "blog/subtemplates/pagination.html" %}
    {% for post in posts %}
        {% include "blog/subtemplates/singlepost.html" with post=post %}
    {% endfor %}
    {% include "blog/subtemplates/pagination.html" %}
{% endblock content %}